.carousel{
  color: antiquewhite;
  position: relative;
  .left{  
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
  }
  .right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
  }
}